<mat-drawer-container class="sidenav-container">
  <!-- Lado do menu -->
  <mat-drawer #sidenav class="sidenav" mode="side" [(opened)]="isOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link">
        <i class="material-icons">home</i>
        <span class="navText">Início</span>
      </a>
      <a mat-list-item routerLink="/aplicacoes" routerLinkActive="active-link">
        <i class="material-icons">apps</i>
        <span class="navText">Aplicações</span>
      </a>
      <a mat-list-item routerLink="/criar" routerLinkActive="active-link">
        <i class="material-icons">add_circle</i>
        <span class="navText">Adicionar Aplicação</span>
      </a>
      <a mat-list-item routerLink="/desenvolvedores" routerLinkActive="active-link">
        <i class="material-icons">group</i>
        <span class="navText">Desenvolvedores</span>
      </a>
      <a mat-list-item routerLink="/recursos" routerLinkActive="active-link">
        <i class="material-icons">inventory</i>
        <span class="navText" >Recursos</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <!-- Conteúdo Principal -->
  <mat-drawer-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Aplicação</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
      <app-inicio></app-inicio>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
